//colors

$backgroundForm: #7690c5;
$backgroundIndentity: #fafafa;
$backgroundFacebook: #3b5998;
$backgroundPinterest: #cb2028;
$backgroundTwitter: #00aced;
$backgroundGoogle: #d95232;

//Fonts

$sans:'PT Sans', sans-serif;
